@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f6f7ed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.gradient-anim {
  animation: gradient 15s ease infinite;
  background: url(/images/awan1.png);
  /* background-size: 400% 400%; */
}

@keyframes gradient {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 5%;
  }
}

